*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  scroll-behavior: smooth;
  
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@500&display=swap');
:root{
  
  --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --lightgreen: #A4E0CF;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --lightgray: #F6F6F6;
    --gray-dark: #343a40;
    --primary: #34B3FF;
    /* --primary: #090e14; */
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --lightblue: #71cbff77;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font: 'Poppins', sans-serif;
    --primaryfont: 'Quicksand', sans-serif;
    --gradient-primary: linear-gradient(180.25deg, var(--primary) 10.32%,rgba(79, 133, 164, 0.902) 140% 140%);
}


h3{
  color:var(--primary-font-color);
}

p{
  color:var(--text-color);
}



body{
  font-family: var(--primaryfont) !important;
}


.link{
  text-decoration: none;
  color: #1a201e;
  
}

.progress__loader{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-size: 36px;
  font-family: var(--primaryfont);
  font-weight: 600;
}



@media screen and (max-width: 740px) {
    
	
      .footer__section{
        display: none;
      }
      
      
  
}